body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f9fa !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pt-5, .py-5 {
    padding-top: 5rem!important;
}

.home-hero {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    text-align: center;
    padding: 1rem;
    background-position: center center;
    background-size: cover;
}
  
.timeline-image {
    object-fit: scale-down;
}
  
.btn:hover, .badge, .unsubscribe {
    cursor: pointer;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
}

.btn:focus {
    outline: none;
    box-shadow:none !important;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}