body {
    margin: 0;
    background-color: #f8f9fa !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pt-5, .py-5 {
    padding-top: 5rem!important;
}

.home-hero {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    text-align: center;
    padding: 1rem;
    background-position: center center;
    background-size: cover;
}

.timeline {
    max-width: 1200px;
}
  
.timeline-image {
    object-fit: scale-down;
}
  
.btn:hover, .badge, .unsubscribe, .dropdown-item {
    cursor: pointer;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
}

.btn:focus {
    outline: none;
    box-shadow:none !important;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.avoid-click {
    pointer-events: none;
}

.search-results {
    max-height: 90vh;
}

.special {
    background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 767.98px) { 
    .search-results {
        max-width: 100%;
    }
}

.ellipsis {
    text-overflow: ellipsis;
}

.cover {
    background-size: cover;
}

.overflow-auto-horizontal {
    overflow: auto;
    overflow-y: hidden;
}